{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Set a New Password {% endblock title %}

{% block content %}
    <div class="content-section">
        <form method="Post">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Set a New Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Change my Password</button>
            </div>
        </form>
    </div>
{% endblock content %} 